<%- include('partials/header') %>
    <main class="container py-5">
        <div class="row text-center">
            <h1>FF Shoppe Inventory Management</h1>
            <a href="./add-item" class="btn btn-primary w-auto">Add New</a>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach((item, index)=> { %>
                    <tr>
                        <td>
                            <%= index %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.category %>
                        </td>
                        <td>
                            <%= item.quantity %>
                        </td>
                        <td>
                            <%= item.price %>
                        </td>
                        <td>
                            <%= item.description %>
                        </td>
                        <td>
                            <%= item.createdAt %>
                        </td>

                        <td>
                            <a href="/edit-item/<%= item._id %>">Edit</a>
                            <form action="/delete-item/<%= item._id %>/?_method=DELETE" method="post">
                                <button id="delete" type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                        <script>
                            const removeItem = document.querySelector('#delete')
                            removeItem.addEventListener('click', () => alert("This will permanently removed the item"))
                        </script>
            </tbody>
        </table>
    </main>





    <%- include('partials/footer') %>