<%- include('partials/header') %>
    <main class="container py-5">
        <div class="row text-center">
            <h1>FF Shoppe Inventory Management</h1>
            <a href="./add-item" class="btn btn-primary w-auto">Add New</a>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach((item, index)=> { %>
                    <tr>
                        <td>
                            <%= index %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.category %>
                        </td>
                        <td>
                            <%= item.price %>
                        </td>
                        <td>
                            <%= item.description %>
                        </td>
                        <td>
                            <%= item.createdAt %>
                        </td>

                        <td>
                            <a href="/edit-items/:id">Edit</a>
                            <a href="/delete-items/:id">Delete</a>

                        </td>

                    </tr>
                    <% }) %>

            </tbody>
        </table>
    </main>





    <%- include('partials/footer') %>